<div class="container">
  <as-split direction="horizontal">

    <as-split-area [size]="40"
      style="padding: 10px; overflow-y: scroll; display: flex; flex-direction: column; gap: 10px">

      <input #ifcUpload type="file" (change)="onIFCUpload($event)" style="display:none" accept=".ifc">
      <button mat-raised-button (click)="ifcUpload.click()">Upload IFC</button>

      <div *ngIf="ifcParsingProgress.modelLoad" class="col">
        <span>Model load: {{ifcParsingProgress.modelLoad}} %</span>
        <span>RDF parse: {{ifcParsingProgress.rdfParse}} %</span>
        <span>Zip write: {{ifcParsingProgress.zipWrite}} %</span>
      </div>

      <input #icddUpload type="file" (change)="onICDDUpload($event)" style="display:none" accept=".icdd,.zip">
      <button mat-raised-button (click)=" icddUpload.click()">Upload ICDD</button>

      <span *ngIf="icddLoading">ICDD loading...</span>
      <ng-container *ngIf="icddReady">
        <button mat-raised-button (click)="queryICDD()">Query ICDD</button>
        <button mat-raised-button (click)="downloadICDD()">Download ICDD</button>
      </ng-container>
    
    </as-split-area>


    <as-split-area [size]="60">
      <lbd-fragment-viewer 
        [settings]="viewerSettings"
        (selectionChanged)="onSelectionChange($event)">
      </lbd-fragment-viewer>
    </as-split-area>

  </as-split>
</div>